In [ ]:
"""
https://github.com/rlowd/python-bigdata/blob/master/intro2stats/
notebooks/4.%20Basic%20Metrics.py3.ipynb

Basic Metrics with Pandas
"""

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
from scipy import stats

In [3]:
# Working with 3 datasets:

# 1: Weed price by date/State
prices_pd = pd.read_csv("https://raw.githubusercontent.com/rlowd/python-bigdata/master/intro2stats/data/Weed_Price.csv", parse_dates=[-1])

# 2: Demographics of State
demography_pd = pd.read_csv("https://raw.githubusercontent.com/rlowd/python-bigdata/master/intro2stats/data/Demographics_State.csv")

# 3: Population of State
population_pd = pd.read_csv("https://raw.githubusercontent.com/rlowd/python-bigdata/master/intro2stats/data/Population_State.csv")

In [4]:
print(prices_pd.head())
print(demography_pd.head())
print(population_pd.head())

        State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
0     Alabama  339.06    1042  198.64    933  149.49    123 2014-01-01
1      Alaska  288.75     252  260.60    297  388.58     26 2014-01-01
2     Arizona  303.31    1941  209.35   1625  189.45    222 2014-01-01
3    Arkansas  361.85     576  185.62    544  125.87    112 2014-01-01
4  California  248.78   12096  193.56  12812  192.92    778 2014-01-01
       region  total_population  percent_white  percent_black  percent_asian  \
0     alabama           4799277             67             26              1
1      alaska            720316             63              3              5
2     arizona           6479703             57              4              3
3    arkansas           2933369             74             15              1
4  california          37659181             40              6             13

   percent_hispanic  per_capita_income  median_rent  median_age
0                 4              23680          501        38.1
1                 6              32651          978        33.6
2                30              25358          747        36.3
3                 7              22170          480        37.5
4                38              29527         1119        35.4
       region     value
0     alabama   4777326
1      alaska    711139
2     arizona   6410979
3    arkansas   2916372
4  california  37325068

In [55]:
# Sort the data on state and date, then fill in missing values

prices_pd.sort_values(by=['State', 'date'], inplace=True)
prices_pd.fillna(method='ffill', inplace=True)

In [56]:
# Find the Mean

california_pd = prices_pd[prices_pd.State == 'California'].copy(True)
california_pd.head()

            State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
20098  California  248.77   12021  193.44  12724  193.88    770 2013-12-27
20863  California  248.74   12025  193.44  12728  193.88    770 2013-12-28
21577  California  248.76   12047  193.55  12760  193.60    772 2013-12-29
22291  California  248.82   12065  193.54  12779  193.80    773 2013-12-30
22801  California  248.76   12082  193.54  12792  193.80    773 2013-12-31

In [57]:
ca_sum = california_pd['HighQ'].sum()

In [58]:
ca_count = california_pd['HighQ'].count()

In [59]:
ca_mean = ca_sum / ca_count
print("Mean weed price in CA is: ", ca_mean)

Mean weed price in CA is:  245.37612472160356

In [70]:
# Find the CA mean for 2013, 2014, and 2015 individually:

def ca_mean_by_year(year):
    df = california_pd[california_pd['date'].dt.year == year]
    df_sum = df['HighQ'].sum()
    df_count = df['HighQ'].count()
    df_mean = df_sum / df_count
    return df_mean

In [71]:
ca_mean_by_year(2013)

248.76999999999998

In [72]:
ca_mean_by_year(2014)

245.89423076923077

In [73]:
ca_mean_by_year(2015)

242.806625