In [ ]:
"""
https://github.com/rlowd/python-bigdata/blob/master/intro2stats/
notebooks/4.%20Basic%20Metrics.py3.ipynb

Basic Metrics with Pandas
"""

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
from scipy import stats

In [3]:
# Working with 3 datasets:

# 1: Weed price by date/State
prices_pd = pd.read_csv("https://raw.githubusercontent.com/rlowd/python-bigdata/master/intro2stats/data/Weed_Price.csv", parse_dates=[-1])

# 2: Demographics of State
demography_pd = pd.read_csv("https://raw.githubusercontent.com/rlowd/python-bigdata/master/intro2stats/data/Demographics_State.csv")

# 3: Population of State
population_pd = pd.read_csv("https://raw.githubusercontent.com/rlowd/python-bigdata/master/intro2stats/data/Population_State.csv")

In [4]:
print(prices_pd.head())
print(demography_pd.head())
print(population_pd.head())

        State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
0     Alabama  339.06    1042  198.64    933  149.49    123 2014-01-01
1      Alaska  288.75     252  260.60    297  388.58     26 2014-01-01
2     Arizona  303.31    1941  209.35   1625  189.45    222 2014-01-01
3    Arkansas  361.85     576  185.62    544  125.87    112 2014-01-01
4  California  248.78   12096  193.56  12812  192.92    778 2014-01-01
       region  total_population  percent_white  percent_black  percent_asian  \
0     alabama           4799277             67             26              1
1      alaska            720316             63              3              5
2     arizona           6479703             57              4              3
3    arkansas           2933369             74             15              1
4  california          37659181             40              6             13

   percent_hispanic  per_capita_income  median_rent  median_age
0                 4              23680          501        38.1
1                 6              32651          978        33.6
2                30              25358          747        36.3
3                 7              22170          480        37.5
4                38              29527         1119        35.4
       region     value
0     alabama   4777326
1      alaska    711139
2     arizona   6410979
3    arkansas   2916372
4  california  37325068

In [55]:
# Sort the data on state and date, then fill in missing values

prices_pd.sort_values(by=['State', 'date'], inplace=True)
prices_pd.fillna(method='ffill', inplace=True)

In [56]:
# Find the Mean

california_pd = prices_pd[prices_pd.State == 'California'].copy(True)
california_pd.head()

            State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
20098  California  248.77   12021  193.44  12724  193.88    770 2013-12-27
20863  California  248.74   12025  193.44  12728  193.88    770 2013-12-28
21577  California  248.76   12047  193.55  12760  193.60    772 2013-12-29
22291  California  248.82   12065  193.54  12779  193.80    773 2013-12-30
22801  California  248.76   12082  193.54  12792  193.80    773 2013-12-31

In [57]:
ca_sum = california_pd['HighQ'].sum()

In [58]:
ca_count = california_pd['HighQ'].count()

In [59]:
ca_mean = ca_sum / ca_count
print("Mean weed price in CA is: ", ca_mean)

Mean weed price in CA is:  245.37612472160356

In [70]:
# Find the CA mean for 2013, 2014, and 2015 individually:
""" Original Code """ 

def ca_mean_by_year(year):
    df = california_pd[california_pd['date'].dt.year == year]
    df_sum = df['HighQ'].sum()
    df_count = df['HighQ'].count()
    df_mean = df_sum / df_count
    return df_mean

In [71]:
ca_mean_by_year(2013)

248.76999999999998

In [72]:
ca_mean_by_year(2014)

245.89423076923077

In [73]:
ca_mean_by_year(2015)

242.806625

In [74]:
# Find the Median

ca_count

449

In [77]:
# Since the count is odd, the median value is at n+1 / 2
ca_highq_pd = california_pd.sort_values(by=['HighQ'])
ca_highq_pd.head()

            State   HighQ  HighQN    MedQ  MedQN   LowQ  LowQN       date
19027  California  241.84   18419  187.90  21965  188.6   1229 2015-05-26
19741  California  241.85   18450  187.90  21993  188.6   1231 2015-05-27
8011   California  241.87   18066  188.86  21561  188.6   1212 2015-05-11
8827   California  241.87   18073  188.89  21584  188.6   1213 2015-05-12
18313  California  241.88   18398  187.85  21949  188.6   1228 2015-05-25

In [81]:
ca_median = ca_highq_pd.HighQ.iloc[(ca_count) // 2]
print("Median price of weed in CA is: ", ca_median)

Median price of weed in CA is:  245.31

In [82]:
# Find the Mode -- most frequently appearing number

ca_mode = ca_highq_pd.HighQ.value_counts().index[0]
print("The most common (mode) price of weed in CA is: ", ca_mode)

The most common price of weed in CA (mode) is:  245.05

In [87]:
# Find the Variance

california_pd['HighQ_dev'] = (california_pd['HighQ'] - ca_mean) **2

ca_variance = california_pd.HighQ_dev.sum() / (ca_count - 1)
print("Variance of High Quality weed prices in CA is: ", ca_variance)

Variance of High Quality weed prices in CA is:  2.982686287981228

In [89]:
# Find the Standard Deviation -- sqrt of the variance

ca_highq_sd = np.sqrt(ca_highq_variance)
print("Standard Deviation of High Quality weed prices in CA is: ", ca_highq_sd)

Standard Deviation of High Quality weed prices in CA is:  1.727045537321245

In [90]:
# Alternatively to all of the above, use the pandas built-in describe() method
california_pd.describe()

,HighQ,HighQN,MedQ,MedQN,LowQ,LowQN,HighQ_dev
count,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000,449.000000
mean,245.376125,14947.073497,191.268909,16769.821826,189.783586,976.298441,2.976043
std,1.727046,1656.133565,1.524028,2433.943191,1.598252,120.246714,3.961134
min,241.840000,12021.000000,187.850000,12724.000000,187.830000,770.000000,0.000015
25%,244.480000,13610.000000,190.260000,14826.000000,188.600000,878.000000,0.106357
50%,245.310000,15037.000000,191.570000,16793.000000,188.600000,982.000000,0.729103
75%,246.220000,16090.000000,192.550000,18435.000000,191.320000,1060.000000,4.435761
max,248.820000,18492.000000,193.630000,22027.000000,193.880000,1232.000000,12.504178

In [114]:
# Find the Co-Variance of weed price between CA and NY

ny_pd = prices_pd[prices_pd['State'] == 'New York'].copy(True)
ny_pd.head()

          State   HighQ  HighQN    MedQ  MedQN    LowQ  LowQN       date
20120  New York  351.98    5773  268.83   5786  190.31    479 2013-12-27
20885  New York  351.92    5775  268.83   5786  190.31    479 2013-12-28
21599  New York  351.99    5785  269.02   5806  190.75    480 2013-12-29
22313  New York  352.02    5791  268.98   5814  190.75    480 2013-12-30
22823  New York  351.97    5794  268.93   5818  190.75    480 2013-12-31

In [122]:
ny_pd = ny_pd.loc[:, ['HighQ','date']]

# rename the columns so we can differentiate from CA's data
ny_pd.columns = ['NY_HighQ', 'date']

In [123]:
ny_pd.head()

       NY_HighQ       date
20120    351.98 2013-12-27
20885    351.92 2013-12-28
21599    351.99 2013-12-29
22313    352.02 2013-12-30
22823    351.97 2013-12-31

In [125]:
# Merge the two DataFrames
ca_ny_pd = pd.merge(california_pd.loc[:, ['HighQ', 'date']].copy(), ny_pd, on="date")
ca_ny_pd.rename(columns={'HighQ': 'CA_HighQ'}, inplace=True)
ca_ny_pd.head()

   CA_HighQ       date  NY_HighQ
0    248.77 2013-12-27    351.98
1    248.74 2013-12-28    351.92
2    248.76 2013-12-29    351.99
3    248.82 2013-12-30    352.02
4    248.76 2013-12-31    351.97

In [146]:
# Mean for weed prices in NY

ny_mean = ca_ny_pd.NY_HighQ.mean()
print(ny_mean)

346.9127616926502

In [150]:
# Now that we have the CA mean and the NY mean, we can find
# the individual variances

ca_ny_pd['CA_dev'] = ca_ny_pd['CA_HighQ'] - ca_mean
ca_ny_pd['NY_dev'] = ca_ny_pd['NY_HighQ'] - ny_mean
ca_ny_pd.head()

   CA_HighQ       date  NY_HighQ    ca_dev    CA_dev    NY_dev
0    248.77 2013-12-27    351.98  3.393875  3.393875  5.067238
1    248.74 2013-12-28    351.92  3.363875  3.363875  5.007238
2    248.76 2013-12-29    351.99  3.383875  3.383875  5.077238
3    248.82 2013-12-30    352.02  3.443875  3.443875  5.107238
4    248.76 2013-12-31    351.97  3.383875  3.383875  5.057238

In [152]:
# Now we can compute the Co-Variance

ca_ny_cov = (ca_ny_pd['CA_dev'] * ca_ny_pd['NY_dev']).sum() / (ca_count - 1)
print("Covariance of the High Quality weed prices between CA and NY is: ",
     ca_ny_cov)

Covariance of the High Quality weed prices between CA and NY is:  5.91681496728842

In [153]:
# Finding the correlation between weed prices in CA and NY

ca_highq_std = ca_ny_pd.CA_HighQ.std()
ny_highq_std = ca_ny_pd.NY_HighQ.std()

ca_ny_corr = ca_ny_cov / (ca_highq_std * ny_highq_std)
print("Correlation between weed prices in CA and NY is: ", ca_ny_corr)

Correlation between weed prices in CA and NY is:  0.9790439611064712