In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [12]:
heart = pd.read_csv('heart_new.csv', index_col=0)
heart.drop(columns='ST_depression_bins', inplace=True)
heart.head()

,age,sex,pain_type,restingBP,chol,fasting_sugar,resting_ecg,maxHR,exercise_angina,ST_depression,ST_peak_slope,vessels_fluoro,thal_severity,heart_disease
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [13]:
X = heart.drop(columns='heart_disease')
y = heart.heart_disease

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [15]:
model = tree.DecisionTreeClassifier()
model = model.fit(X_train, y_train)
target_prediction = model.predict(X_test)

In [16]:
print("Accuracy: ", metrics.accuracy_score(y_test, target_prediction))

Accuracy:  0.576271186440678

## New Dataframe based on only those with higher than average maximum heart rates

In [17]:
# Create a list of rows containing only those with higher than average maximum heart rates
def maxHR_above_avg():
    above_avg = []
    
    for index, row in heart.iterrows():
        if (220 - row['age'] < row['maxHR']):
            above_avg.append(row['maxHR'])
        else:
            above_avg.append(False)
    
    return above_avg

# Create a new column in heart dataframe
heart['maxHR_above_avg'] = maxHR_above_avg()

# Create a list of the indices where maxHR is above average
maxHR_high_list = heart[heart['maxHR_above_avg'] != False].index.tolist()

# Create new dataframe based on this information and drop redundant column
maxHR_high = heart.loc[maxHR_high_list]
maxHR_high.drop(columns='maxHR_above_avg', inplace=True)
maxHR_high.head()

,age,sex,pain_type,restingBP,chol,fasting_sugar,resting_ecg,maxHR,exercise_angina,ST_depression,ST_peak_slope,vessels_fluoro,thal_severity,heart_disease
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
21,44,1,2,130,233,0,1,179,1,0.4,2,0,2,1