In [ ]:
"""
https://www.datacamp.com/community/tutorials/
pandas-tutorial-dataframe-python

(Second half of tutorial)
"""

In [2]:
import pandas as pd
import numpy as np

In [40]:
# Resetting the index of your DataFrame
df = pd.DataFrame(data = np.array([[1, 2, 3], [4, 5, 6],
                                  [7, 8, 9]]), columns = 
                 ['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [41]:
# Adding a column
df['D'] = df.index
print(df)

   A  B  C  D
0  1  2  3  0
1  4  5  6  1
2  7  8  9  2

In [42]:
# Appending a column
df.loc[:, 4] = pd.Series(['5', '6', '7'], index=df.index)
print(df)

   A  B  C  D  4
0  1  2  3  0  5
1  4  5  6  1  6
2  7  8  9  2  7

In [43]:
# Resetting the index
df_reset = df.reset_index(level=0, drop=True)
print(df_reset)

   A  B  C  D  4
0  1  2  3  0  5
1  4  5  6  1  6
2  7  8  9  2  7

In [44]:
# Deleting a column (axis=0 for row, axis=1 for column)
# By label
df_reset.drop('A', axis=1, inplace=True)
# By position
df_reset.drop(df_reset.columns[[1]], axis=1)
print(df_reset)
# Or use:
df_reset.drop(columns = ['C'])

   B  C  D  4
0  2  3  0  5
1  5  6  1  6
2  8  9  2  7

   B  D  4
0  2  0  5
1  5  1  6
2  8  2  7

In [48]:
# Deleting a row
df_reset.drop([0])
print(df_reset)

   B  C  D  4
0  2  3  0  5
1  5  6  1  6
2  8  9  2  7

In [49]:
# Renaming the index or columns
df = pd.DataFrame(data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index = [0, 1, 2], columns = ['A', 'B', 'C'])
print(df)

# New column names
newcols = {
    'A': 'One',
    'B': 'Two',
    'C': 'Three',
}
# Use rename() to apply the new names
df.rename(columns=newcols, inplace=True)
df.rename(index={1: 'a'})
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
   One  Two  Three
0    1    2      3
1    4    5      6
2    7    8      9

In [3]:
# Replacing occurrences of strings in DataFrames
df = pd.DataFrame(data = np.array([["Ok", "Perfect", "Acceptable"],
                                  ["Awful", "Awful", "Perfect"],
                                  ["Acceptable", "Ok", "Poor"]]),
                 columns=["Student_1", "Student_2", "Student_3"],
                 index=[0, 1, 2])
print(df)

    Student_1 Student_2   Student_3
0          Ok   Perfect  Acceptable
1       Awful     Awful     Perfect
2  Acceptable        Ok        Poor

In [5]:
df.replace(["Perfect", "Ok", "Acceptable", "Poor", "Awful"],
          [4, 3, 2, 1, 0])
print(df)

    Student_1 Student_2   Student_3
0          Ok   Perfect  Acceptable
1       Awful     Awful     Perfect
2  Acceptable        Ok        Poor

In [7]:
# Removing parts of strings
df['Student_3'] = df['Student_3'].map(lambda x: x.lstrip('Ae')
                                     .rstrip('Ptr'))
print(df)

    Student_1 Student_2  Student_3
0          Ok   Perfect  cceptable
1       Awful     Awful     Perfec
2  Acceptable        Ok        Poo

In [8]:
# Creating an empty DataFrame (defaults to type Float)
df = pd.DataFrame(np.nan, index=[0,1,2,3], columns=['A'])
print(df)

    A
0 NaN
1 NaN
2 NaN
3 NaN