In [1]:
# Python is an interpreted language, 
# meaning it can be executed immediately

In [2]:
5 + 5

10

In [3]:
x = 5
y = 'Hello There'
z = 10.5

In [4]:
x + 5

10

In [5]:
print(round(3.14))

3

In [6]:
# Values in Python have an associate 'type' which must be
# combined with the right functions

In [7]:
print(y)

Hello There

In [8]:
y + 5

TypeError: can only concatenate str (not "int") to str

In [9]:
y + (str(5))

'Hello There5'

In [10]:
result = None

In [11]:
result

In [12]:
result is None

True

In [13]:
x = 5
x is None

False

In [14]:
x = 1
print(type(x))
print(x)

<class 'int'>
1

In [16]:
y = float(x)
print(type(y))
print(y)

<class 'float'>
1.0

In [18]:
print(int(y))

1

In [19]:
# You can convert to and from ASCII values using the
# functions chr() and ord() on characters

In [20]:
print(ord('a'))

97

In [21]:
print(chr(97))

a

In [22]:
# The syntax for control structures in Python use
# colons and indentation

In [23]:
x = 5
if x > 0:
    print('x is strictly positive')
    print(x)

print('finished')

x is strictly positive
5
finished

In [25]:
x = 0
if x > 0:
    print('x is strictly positive')
    print(x)

print('finished')

finished

In [26]:
# Lists are used to hold an ordered sequence of values

In [27]:
l = ['first', 'second', 'third']
print(l)

['first', 'second', 'third']

In [31]:
another_list = ['first', 'second', 'third', 1, 2, 3]
print(another_list)

['first', 'second', 'third', 1, 2, 3]

In [32]:
l.append('fourth')

In [33]:
print(l)

['first', 'second', 'third', 'fourth']

In [34]:
X = [1, 2, 3]
Y = X

In [35]:
X.append(4)
X
Y

[1, 2, 3, 4]

In [36]:
print(Y)

[1, 2, 3, 4]

In [37]:
X = [1, 2]
Y = [1]
Y.append(2)

In [38]:
# Compare state
X == Y

True

In [39]:
# Compare identity
X is Y

False

In [40]:
Y.append(3)
X = Y
X is Y

True

In [41]:
# Iterating over elements in a list

In [42]:
for i in l:
    print(i)

first
second
third
fourth

In [43]:
for i in [0, 1, 2, 3]:
    print("Hello!")

Hello!
Hello!
Hello!
Hello!

In [44]:
range(4)

range(0, 4)

In [45]:
for i in range(4):
    print("Hello!")

Hello!
Hello!
Hello!
Hello!

In [46]:
# List indexing
print(l[0])

first

In [47]:
print(l[:2])

['first', 'second']

In [48]:
print(l[2:])

['third', 'fourth']

In [49]:
print(l[-1]) # A '-' starts counting from the end

fourth

In [50]:
print(l[:-1])

['first', 'second', 'third']

In [51]:
# Tuples are another way to combine different values, which can be
# of different types, but unlike lists, typles are immutable

In [52]:
tuple1 = (50, 'hello')
tuple1

(50, 'hello')

In [53]:
tuple1[0]

50

In [54]:
type(tuple1)

tuple

In [55]:
tuple1.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [56]:
# Sets are mutable like lists, but cannot contain duplicates

In [57]:
X = set([1, 2, 3, 3, 4])
X

{1, 2, 3, 4}

In [58]:
type(X)

set

In [59]:
# Or assign a set to a value by writing a set literal: { }

In [60]:
X = {1, 2, 3, 4, 4}

In [61]:
X

{1, 2, 3, 4}

In [63]:
# Sets are unordered -- cannot be indexed or sliced
X[0]

TypeError: 'set' object does not support indexing

In [64]:
# You can join two sets with the untion operation

In [65]:
Y = {4, 5, 6}
X.union(Y)

{1, 2, 3, 4, 5, 6}

In [66]:
# You can also see where they intersect
X.intersection(Y)

{4}

In [68]:
# And you can find their difference
X - Y

{1, 2, 3}